.left-image {
    float: left;
    width: 49%;
    margin-right: 1%;
}
.right-image {
    float: right;
    width: 49.5%;
    margin-right: 0.5%;
}

.right-text {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: white;
    float: right;
    width: 47%;
    margin-left: 1%;
    margin-right: 2%;
}
.left-text {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: white;
    float: left;
    width: 47.5%;
    margin-left: 0.5%;
    margin-right: 2%;
}